/* Le board : zone de jeu */
#board {
  width: 500px;            
  height: 400px;            
  border: 3px solid black;
  position: relative;       
  margin: 50px auto;        /* centre le board horizontalement */
  background-color: blanchedalmond; /* couleur du board */
}

/* La balle ou le A à l’intérieur */
#letter {
  
  position: absolute;       /* pour pouvoir le déplacer avec JS */
  font-size: 60px;
  font-weight: bold;
  top: 0;                   /* position initiale */
  left: 0;
}

#pabble {
  height: 10px;
  width: 90px;
  background: #191cb4;
  border-radius: 10px; 
}

#balle {
  height: 15px;
  width: 15px;
  background-color: rgb(218, 15, 15);
  border-radius: 10px  ;
}
